
.video-grid {
    display: grid;
    margin-left: 100px;
    margin-right: 20px;
    padding-top: 100px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 751px) {
    .video-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin-left: 20px;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }
}

.video-view {
    display: flex;
    flex-direction: column;
}

.video {
    position: relative;
}

.video-thumnail {
    width: 100%;
    cursor: pointer;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.video-thumnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    background-color: black;
    border-radius: 3px;
    color: white;
}

.video-infos {
    display: flex;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
}

.left-video-infos{
    flex-shrink: 0;
}

.left-video-infos img{
    width: 40px;
    cursor: pointer;
}

.center-video-infos {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.center-video-infos span {
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.center-video-infos a {
    color: #999;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;;
}

.right-video-infos {
    flex-shrink: 0;
    /* margin-left: auto; */
    cursor: pointer;
}

.right-video-infos img {
    height: 25px;
}